html, body {
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
}

.topnav {
  overflow: hidden;
  background-color: #2f3340;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


#footer
{
	background-color:rgb(40,75,29);
	height:130px;
	width:100%;
	text-align:center;
	font-size:0.9em;
}
.responsive{
	max-width: 100%;
    height: auto;
}
.responsive2
{
	width: 100%;
    max-width: 700px;
    height: auto;
}

div#map {
	margin: 20px;
	/*width: 250px;*/
	height: 1450px;
	border: 1px solid black;
}
